{% extends './base.html' %}

{% block titulo %}Actividades{% endblock titulo %}

{% block contenido %}

<section class="py-5 text-center banner">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="h1-banner" style="color: black">CLUB CED <br> &#60; Codificando el Deporte /&#62;</h1>
            <img id="imagen" src="/static/img/logoCED2.png" alt="logo">
            <p></p>
            <p class="lead text-banner" style="color:#004AAD">¡Tu entrenamiento hoy, TUS LOGROS MAÑANA!</p> 
        </div>
    </div>
</section>

<section class="album py-5 bg-light">
    <div class="container-fluid">
        <!--Section heading-->
        <h1 style="color: black">GRUPOS DE ENTRENAMIENTOS</h1>
        <!--Section description-->
        <br>
        <p class="text-center w-responsive mx-auto mb-5" style="color:#004AAD">Preparamos a los deportistas en el más alto rendimiento.</p>
    


            {% if cursos|length > 0 %}
                <div class="row">
                    {% for curso in cursos %}
                    
                    
                        

                        <!-- Left to right-->
                        
                            
                            <div class="col-xl-3 col-lg-2 col-md-2  col-sm-1 g-3">
                            <!-- normal -->
                                <div class="ih-item square effect11 left_to_right">
                                    <a href="#">
                                        <div class="img"><img src={{'/media/'}}{{curso.imagen}} class="bd-placeholder-img card-img-top" width="100%"  alt={{curso.nombre}}  width="20%"></div>
                                        <div class="info">
                                        <h3>{{curso.nombre}} - {{curso.categoria}}</h3>
                                        <p>{{curso.descripcion}}</p>
                                        <p>{{curso.dia}} - {{curso.turno}}</p>
                                        
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <!-- end normal -->
   
                            
                        
                        
                            
                            
                    
               
                        
                    {% endfor %}
                
                </div>
                </div>
            {% else %}
                <div class="row justify-content-center">
                    <div class="col-4 text-center">
                        <div class="alert alert-warning" role="alert">
                            <p>No hay cursos disponibles</p>
                        </div>
                    </div>
                </div>
            
            {% endif %}
        </div>

    </div>
</section>
{% endblock contenido %}
        
    