{% extends './base.html' %}

{% block titulo %}Actividades{% endblock titulo %}

{% block contenido %}

<section class="py-5 text-center banner">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold h1-banner">CLUB CED <br> &#60; Codificando el Deporte /&#62;</h1>
            <img id="imagen" src="/static/img/logoCED2.png" alt="">
            <p></p>
            <p class="lead text-banner">¡Tu entrenamiento hoy, TUS LOGROS MAÑANA!</p> 
        </div>
    </div>
</section>

<section class="album py-5 bg-light">
    <div class="container">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Grupos de entrenamientos</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Preparamos a los deportistas en el más alto rendimiento.</p>
            {% if cursos|length > 0 %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    {% for curso in cursos %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src={{curso.imagen}} class="bd-placeholder-img card-img-top" width="100%"  alt={{curso.nombre}}  width="20%">
                                
                                <div class="card-body">
                                    <h3>{{curso.nombre}}</h3>
                                    <p class="card-text">{{curso.descripcion}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button id="boton" type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                                        </div>
                                        <small class="text-muted">{{curso.categoria}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="row justify-content-center">
                    <div class="col-4 text-center">
                        <div class="alert alert-warning" role="alert">
                            <p>No hay cursos disponibles</p>
                        </div>
                    </div>
                </div>
            
            {% endif %}
        </div>

    </div>
</section>
{% endblock contenido %}
        
    