{% extends './base.html' %}

{% block titulo %}Contacto{% endblock titulo %}

{% block contenido %}




<section class="mb-4 container">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contáctanos</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">¿Tienes alguna pregunta? Por favor, no dudes en contactarnos
    directamente. Nuestro equipo de entrenadores te responderá dentro de las próximas horas para ayudarte.</p>

    <div class="row">

    <!--Grid column-->
        <div class="col-md-6 mb-md-0 mb-6">
            
            <!-- Mensajes de error y control del proceso de formulario
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}-->
            
            

            <form novalidate id="contact-form" name="contact-form" action="{% url 'contacto' %}" method="POST">
                {% csrf_token %}

                    
                {% comment %} {{ contacto_form }} {% endcomment %}

                {% comment %} <table>
                    {{ contacto_form.as_table }}
                </table> {% endcomment %}

                {% comment %} <ul>
                    {{ contacto_form.as_ul }}
                </ul> {% endcomment %}
                {% comment %} {{ contacto_form.as_p }} {% endcomment %}
                <div class="row">    
                    {% for campo in contacto_form %}
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <label for="">{{campo.label}}</label>
                            
                                {{campo}}
                            </div>
                            <div>{{campo.errors}}</div>
                        </div>
                    {% endfor %}
                </div>

                <div class="text-center text-md-left mt-3">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </form>
            <div class="status"></div>
        </div>
    <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 text-center">
            <ul class="list-unstyled mb-0">
            <li><i class="fas fa-map-marker-alt fa-2x"></i>
                <p>San Martin 555</p><p>Bahia Blanca</p>
            </li>
    
            <li><i class="fas fa-phone mt-4 fa-2x"></i>
                <p>6076-6000 Int. 5046 y 5041</p>
            </li>
    
            <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                <p>secretaria.clubced@gmail.com</p>
            </li>
            </ul>
        </div>
        <!--Grid column-->
    </div>
</section>



{% endblock contenido %}




