
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Links  -->
  <div style="background-color: rgba(0, 0, 0, 0.05);">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <p> </p>
          <h6 class="fw-bold mb-4">
            <p>&#60; CLUB CED /&#62;</p>
          </h6>
          <a href="#">
            <img class="logo2" src='/static/img/logoCED2.png' alt="">
          </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <p> </p>
          <h6 class="text-uppercase fw-bold mb-4">
            NUESTROS LINKS
          </h6>
          <p id="links">
            <a href="{% url 'inicio' %}" class="text-reset">Inicio</a>
          </p>
          <p id="links">
            <a href="{% url 'nuestro_club' %}" class="text-reset">Nuestro Club</a>
          </p>
          <p id="links">
            <a href="{% url 'actividades' %}" class="text-reset">Actividades</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <p> </p>
          <h6 class="text-uppercase fw-bold mb-4" style="color: transparent";>
            NUESTROS LINKS
          </h6>
          <p id="links">
            <a href="{% url 'horarios' %}" class="text-reset">Horarios</a>
          </p>
          <p id="links">
            <a href="{% url 'socios' %}" class="text-reset">Socios</a>
          </p>
          <p id="links">
            <a href="{% url 'contacto' %}" class="text-reset">Contacto</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <p> </p>
          <h6 class="text-uppercase fw-bold mb-4">DÓNDE ENCONTRARNOS</h6>
          <p><i class="fas fa-location-dot me-3"></i> San Martín 555, Bahía Blanca</p>
          <!--<p>
            <i class="fas fa-envelope me-3"></i>inscripciones.clubced@gmail.com</p>                   ATENCIÓN: QUEDA DESALINEADO-->
          <p><i class="fas fa-envelope me-3"></i>secretaria.clubced@gmail.com</p>
          <p><i class="fas fa-phone me-3"></i>6076-6000 Int. 5046 y 5041</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <div class="container p-4 pb-0 d-flex justify-content-center">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Copyright -->
  
  <div id="copy" class="text-center p-4" style="background-color:#004AAD;">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="{% url 'inicio' %}">Club CED</a>
  </div>
  <!-- Copyright -->
  </div>
</footer>

<!--
<footer class="footer mt-auto py-5" style="background-color:#004AAD;">
  <div class="container text-muted">
    <div class="row">
      <div class="col-3">
        <a href="#">
          <img class="logo" src='/static/img/logoCED2.png' alt="">
        </a>
        <p class="legales">Club CED.</p>
      </div>
      <div class="col-8 ">
        <ul class="lista-institucional d-flex ">
          <li><a href="https://boletinoficial.buenosaires.gob.ar">Boletín oficial</a></li>
          <li><a href="https://www.buenosaires.gob.ar/innovacion/ciudadinteligente/terminos-y-condiciones">Términos y
              condiciones</a></li>
          <li><a href="https://www.buenosaires.gob.ar/privacidad">Política de privacidad</a></li>
          <li><a href="https://www.buenosaires.gob.ar/oficiosjudiciales">Oficios judiciales</a></li>
        </ul>
      </div>
      <div class="col-1">
        <p class="float-end mb-1">
          <a href="#"><i class="fa-solid fa-circle-up"></i></a>
        </p>
      </div>
    </div>
      
  </div>
</footer>
-->