
<footer class="footer mt-auto py-5" style="background-color:#004AAD;">
  <div class="container text-muted">
    <div class="row">
      <div class="col-3">
        <a href="#">
          <img class="logo" src='/static/img/logoCED2.png' alt="">
        </a>
        <p class="legales">Club CED.</p>
      </div>
      <div class="col-8 ">
        <ul class="lista-institucional d-flex ">
          <li><a href="https://boletinoficial.buenosaires.gob.ar">Boletín oficial</a></li>
          <li><a href="https://www.buenosaires.gob.ar/innovacion/ciudadinteligente/terminos-y-condiciones">Términos y
              condiciones</a></li>
          <li><a href="https://www.buenosaires.gob.ar/privacidad">Política de privacidad</a></li>
          <li><a href="https://www.buenosaires.gob.ar/oficiosjudiciales">Oficios judiciales</a></li>
        </ul>
      </div>
      <div class="col-1">
        <p class="float-end mb-1">
          <a href="#"><i class="fa-solid fa-circle-up"></i></a>
        </p>
      </div>
    </div>
      
  </div>
</footer>