{% extends './base.html' %}

{% block titulo %}Horarios{% endblock titulo %}

{% block contenido %}
<!-- Left to right-->
<div class="row">
    <div class="col-sm-6">
   
      <!-- normal -->
      <div class="ih-item square effect11 left_to_right"><a href="#">
          <div class="img"><img src="/static/img/deporte_futbol_ninos.jpg" alt="img"></div>
          <div class="info">
            <h3>futbol</h3>
            <p>Niños</p>
          </div></a></div>
      <!-- end normal -->
   
    </div>
    <div class="col-sm-6">
   
      <!-- colored -->
      <div class="ih-item square colored effect11 left_to_right"><a href="#">
          <div class="img"><img src="images/assets/rect/2.jpg" alt="img"></div>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a></div>
      <!-- end colored -->
   
    </div>
  </div>
  <!-- end Left to right-->


{% endblock contenido %}
        
    