{% extends './base.html' %}

{% block titulo %}Home{% endblock titulo %}

{% block contenido %}
<section class="py-5 text-center banner">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold h1-banner">Club CED</h1>
            <p class="lead text-banner">Codificando el deporte</p>
            <p>
            <a href="#" class="btn btn-primary my-2" style="background-color: #AB0314">Ver más</a>
            </p>
        </div>
    </div>
</section>

<section class="album py-5 bg-light">
    <div class="container">
        <h1>Título Index</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
    </div>
</section>
{% endblock contenido %}
        
    