{% extends './base.html' %}

{% block titulo %}Nuestro Club{% endblock titulo %}

{% block contenido %}
<section class="album py-5 bg-light">
    <div class="container">
      <h1 style="color: black">NUESTROS DEPORTES</h1>
      <br>
      <p> </p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="/static/img/deporte_natacion.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color:#004AAD">Natación</h5>
                  <p class="card-text">Disfrutá todo el año de esta actividad en nuestra pileta cerrada y climatizada.<br>Para todas las edades.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/img/deporte_natacion_niños2.jpg" class="card-img-top w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color:#004AAD">Natación para niños</h5>
                  <p class="card-text">Clases con profesor para los más chiquitos.<br>Desde matronatación hasta los 12 años.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/img/deporte_musculacion.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color:#004AAD">Musculación</h5>
                  <p class="card-text">Ejercicios, rutinas y máquinas.<br>Disfrutá tu entrenamiento junto al coach de musculación.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/img/deporte_basket.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color:#004AAD">Básquet</h5>
                  <p class="card-text">Escuela de básquet para niños de 6 a 14 años.</p>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="/static/img/deporte_jockey_fem.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title" style="color:#004AAD">Hockey sobre césped</h5>
                    <p class="card-text">Aprendé y practicá este deporte en un clima de camaradería y amistad.<br>Para niñas de 6 a 14 años.</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="/static/img/deporte_judo.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title" style="color:#004AAD">Taekwondo</h5>
                    <p class="card-text">Descubrí y desarrolla la técnica para realizar combates cuerpo a cuerpo.<br>En dos grupos: para niños de 6 a 14 años y mayores de 14 años.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
{% endblock contenido %}
        
    