{% extends './base.html' %}

{% block titulo %}Quienes somos{% endblock titulo %}

{% block contenido %}
<h1>Título Quienes somos</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis dolor voluptate praesentium, blanditiis ducimus ipsa quo maxime porro ratione veritatis sint totam, libero dolore impedit sapiente deserunt deleniti! Quia!</p>
{% endblock contenido %}
        
    