{% extends './base.html' %}

{% block titulo %}Socios{% endblock titulo %}

{% block contenido %}
<div class=container>

    <div class="col-md-12">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{message}}
            </div>
        {% endfor %}
    </div>

    <br>
    <br>
    <h1 style="color: black">SOCIOS</h1>
    <div>  
        <a><h3> Bienvenid@ {{ user.first_name }} </h3></a><br>
        <a type="button" href="{% url 'password_change' %}" class="btn btn-outline btn btn-dark" style="background-color:#FF1616;">Cambiar contraseña</a>
        
    </div>

    <br>
    <h1 style="color: black">HORARIOS</h1>

    <style>
        * {box-sizing: border-box;}
        ul {list-style-type: none;}
        body {font-family: Verdana, sans-serif;}
        
        .month {
          padding: 70px 25px;
          width: 100%;
          background: #1abc9c;
          text-align: center;
        }
        
        .month ul {
          margin: 0;
          padding: 0;
        }
        
        .month ul li {
          color: white;
          font-size: 20px;
          text-transform: uppercase;
          letter-spacing: 3px;
        }
        
        .month .prev {
          float: left;
          padding-top: 10px;
        }
        
        .month .next {
          float: right;
          padding-top: 10px;
        }
        
        .weekdays {
          margin: 0;
          padding: 10px 0;
          background-color: #ddd;
        }
        
        .weekdays li {
          display: inline-block;
          width: 13.6%;
          color: #666;
          text-align: center;
        }
        
        .days {
          padding: 10px 0;
          background: #eee;
          margin: 0;
        }
        
        .days li {
          list-style-type: none;
          display: inline-block;
          width: 13.6%;
          text-align: center;
          margin-bottom: 5px;
          font-size:12px;
          color: #777;
        }
        
        .days li .active {
          padding: 5px;
          background: #1abc9c;
          color: white !important
        }
        
        /* Add media queries for smaller screens */
        @media screen and (max-width:720px) {
          .weekdays li, .days li {width: 13.1%;}
        }
        
        @media screen and (max-width: 420px) {
          .weekdays li, .days li {width: 12.5%;}
          .days li .active {padding: 2px;}
        }
        
        @media screen and (max-width: 290px) {
          .weekdays li, .days li {width: 12.2%;}
        }
        </style>
        </head>
        <body>
        
        
        
        <div class="month">      
          <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li>
                <br><br>
              TUS ENTRENAMIENTOS<br>
              <span style="font-size:18px">SEMANALES</span>
            </li>
          </ul>
        </div>
        
        <ul class="weekdays">
             
          <li>LUN</li>
          <li>MAR</li>
          <li>MIE</li>
          <li>JUE</li>
          <li>VIE</li>
          <li>SAB</li>
          <li>DOM</li>
        </ul>
        
        <ul class="days">  
            
          <li>-</li>
          
          <li>-</li>
          <li><span class="active">Musculación</span></li>
          
          <li>-</li>
          <li>-</li>
          <li><span class="active">Aeróbico</span></li>
          <li>-</li>

          
        </ul>
    <br><br><br>
    <h1 style="color: black">CUOTAS</h1>

    <div class="container">
		<div class="row">
			<div class="col">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>Año</th>
							<th>Mes</th>
							<th>Monto</th>
                            <th>Estado</th>
						</tr>
					</thead>

					<tbody>
						<!-- .table-active -->
						<!-- .table-success -->
						<!-- .table-warning -->
						<!-- .table-danger -->
						<!-- .table-info -->
						<tr class="table-success">
							<td>2021</td>
							<td>DIC</td>
							<td>150</td>
                            <td>Abonada</td>
						</tr>
	
						<!-- .bg-primary -->
						<!-- .bg-success -->
						<!-- .bg-warning -->
						<!-- .bg-danger -->
						<!-- .bg-info -->
						<tr class="table-success">
							<td>2022</td>
							<td>ENE</td>
							<td>250</td>
                            <td>Abonada</td>
						</tr>
						<tr>
							<tr class="table-danger">
                                <td>2022</td>
                                <td>FEB</td>
                                <td>250</td>
                                <td>Vencida</td
						</tr>
                        <tr>
							<tr class="table-info">
                                <td>2022</td>
                                <td>MAR</td>
                                <td>250</td>
                                <td>Poceso</td
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</div>
{% endblock contenido %}
        