{% extends './base.html' %}

{% block titulo %}Socios{% endblock titulo %}

{% block contenido %}
<div class=container>

    <div class="col-md-12">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{message}}
            </div>
        {% endfor %}
    </div>

    <br>
    <h1 style="color: black">SOCIOS</h1>
    <div>  
        <a><h3> Bienvenid@ {{ user.first_name }} </h3></a>
        <a type="button" href="{% url 'password_change' %}" class="btn btn-outline btn btn-dark" style="background-color:#FF1616;">Cambiar contraseña</a>
        
    </div>

    <br>
    <h1 style="color: black">HORARIOS</h1>

    <br>
    <h1 style="color: black">CUOTAS</h1>
</div>
{% endblock contenido %}
        