{% extends 'grupo2/publica/base.html' %}
{% block titulo %}Cambio de Contraeña{% endblock titulo %}


{% block contenido %}
<div class='container'>
    <br>
    <div class="col-md-8 text-end"> 
    <h2> CAMBIO DE CONTRASEÑA de {{ user.first_name }} </h2>
    <form class="" action="{% url 'password_change' %}" method="post" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
        {% csrf_token %}
        {{form.as_p}};
        <button type="submit" class="btn btn-outline btn btn-dark" style="background-color:#FF1616;">Cambiar</button>
     </form>
    </div>
 </div>
 
    <div class="alert alert-success">
        <h4 class="alert-heading">Contraseña Cambiada</h4>
    </div>
      {% endblock %}