<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>
<body>
    {% comment %}
        Tratar de centrarlo. No puedo visualizarlo porque no encuentro la url. Además, en http://127.0.0.1:8000/admin/ 
        arreglar el título donde dice sitema.
    {% endcomment %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2 col-md-offset-5">
                <div class="text-center mt-4">
                    <img src="https://i.ibb.co/3Cb9NJJ/monitor-1350918-1280-1080x675.png" alt="monitor-1350918-1280-1080x675" border="0" /></a>
                    <br>
                    <h2>This requested URL was not found on this server.</h2>
                    <a href="{% url 'inicio' %}">
                        <i class="fas fa-arrow-left me-1"></i>
                        Return to Dashboard
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>