{% extends '../base_administracion.html' %}

{% block titulo %}Editar Socio{% endblock%}

{% block contenido %}
<h1 class="mt-4">Editar Socio</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'inicio_administracion' %}">Administración</a></li>
    <li class="breadcrumb-item active">Editar Socio</li>
</ol>

<div class="card">
    <div class="card-header">Editar Socio</div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            {% include 'grupo2/administracion/socio/form.html' %}
        </form>
    </div>
</div>
{% endblock %}